name: shadowrocket-ruleset

concurrency:
  group: ruleset-chain
  cancel-in-progress: false

on:
  workflow_dispatch:
  schedule:
    # Runs at 06:40 CST (UTC+8)
    - cron: "50 22 * * *"
  push:
    branches: ["main"]
    paths:
      - "compilation/mihomo/**.yaml"
      - ".github/scripts/shadowrocket-ruleset.sh"
      - ".github/workflows/shadowrocket-ruleset.yml"

permissions:
  contents: write

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml

      - name: Normalize line endings
        run: |
          sed -i 's/\r$//' .github/scripts/shadowrocket-ruleset.sh
          chmod +x .github/scripts/shadowrocket-ruleset.sh

      - name: Generate Shadowrocket lists
        run: |
          .github/scripts/shadowrocket-ruleset.sh

      - name: Commit and push if changed
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euo pipefail
          export TZ=Asia/Shanghai
          COMMIT_TIME="$(date '+%Y-%m-%d %H:%M:%S')"

          GIT_AUTHOR_DATE="$(date '+%Y-%m-%d %H:%M:%S %z')" \
          GIT_COMMITTER_DATE="$(date '+%Y-%m-%d %H:%M:%S %z')" \

          if git diff --quiet; then
            echo "No changes."
            exit 0
          fi

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add -A
          git commit -m "$COMMIT_TIME"

          # 推送到 main
          git push origin HEAD:main

      - name: Purge jsDelivr cache
        if: success()
        run: |
          set -e
          URL="https://purge.jsdelivr.net/gh/purecores/Proxy-Rules@main/compilation/shadowrocket/"
          echo "Purging: $URL"
          curl -s "$URL"
          # set -euo pipefail

          # REPO="${GITHUB_REPOSITORY}" # owner/repo
          # BRANCH="main"

          # purge() {
          #   local path="$1"
          #   # jsDelivr purge endpoint
          #   curl -fsSL "https://purge.jsdelivr.net/gh/${REPO}@${BRANCH}/${path}" >/dev/null || true
          # }

          # purge "compilation/shadowrocket/AIGC.list"
          # purge "compilation/shadowrocket/Direct.list"
          # purge "compilation/shadowrocket/Proxy.list"
          # purge "compilation/shadowrocket/geoip-telegram.list"
          # purge "compilation/shadowrocket/geoip-google.list"
          # purge "compilation/shadowrocket/geoip-cn.list"

          # echo "Purge requests sent."
